<div class="row">
    <div class="col-md-12" ng-show="requests.length > 0">

        <nav class= "navbar navbar-default" role= "navigation" >
            <div class= "navbar-header" >
                <a class="btn btn-lg btn-success" href="#/edit-request/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Feature Request</a>
            </div>
        </nav>
        <table class="table table-striped table-bordered">
            <thead>
            <th>Title&nbsp;</th>
            <th>Description&nbsp;</th>
            <th>Client&nbsp;</th>
            <th>Client Priority&nbsp;</th>
            <th>Target Date&nbsp;</th>
            <th>Url&nbsp;</th>
            <th>Product Area&nbsp;</th>
            <th>Action&nbsp;</th>
            </thead>
            <tbody>
            <tr ng-repeat="data in requests">
                <td>{{data.Title}}</td>
                <td>{{data.Description}}</td>
                <td>{{data.Client}}</td>
                <td>{{data.ClientPriority}}</td>
                <td>{{data.TargetDate}}</td>
                <td>{{data.Url}}</td>
                <td>{{data.ProductArea}}</td>
                <td><a href="#/edit-request/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Feature Request</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="requests.length == 0">
        <div class="col-md-12">
            <h4>No Feature Requests found.</h4>
        </div>
    </div>
</div>