/*
div {
    border: 1px solid #000000;
}
*/
#ColorList {
    position:relative;
    height: auto; 
    width: 50%;    
    margin: 0 auto;  /* center this div within container div */
}
#ColorVote thead th { 
	border-bottom:1px solid black; 
	font-weight:bold; 
	background-color:LightGrey; 
}
#ColorVote table {
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
}
#ColorVote td { 
    padding: 1px;
    min-width: 100px; /* set this so columns won't collapse on first display, ie no votes values yet */
}
.hiddenarea { 
    visibility: hidden; 
}
#container {
    width: 40em;
    margin-left: auto;  /* trick to center a block */
    margin-right: auto; /* web browsers are required by the CSS standard to give them equal width */
    font-size: 80%;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    padding: 1em;
}
h1 { 
    text-align:center; 
}
