{% extends "html/partials/base-nomenu.html.twig" %}

{% block content %}
<script>
    head.load("/assets/css/unicorn.login.css");
</script>

<div class="container-fluid">
    <div class="brand text-center" id="logo">
        <img src="/assets/images/jma_logo.png" alt="" />
    </div>
    <div class="row-fluid">
        <div id="push"></div>
        <div class="widget-box nopadding" id="logo">
            <div class="widget-title"><h5>Account Activation</h5></div>
            <div class="widget-content">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="push"></div>
                        {% if message %}
                            <div class="error-msg">{{ message }}</div>
                        {% else %}
                            <div class="text-center">
                                Your account has been activated, you can now login with your temporary password <a href="/admin/login">here</a>.
                            </div>
                        {% endif %}
                        <div id="push"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}